@charset "utf-8";
/* CSS Document */

	*{
		
	
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	
		
	}
	
	body{
		 position: relative;
	     width: 100vw;
		 height: 100vh;
		 overflow: scroll;
		 background-color: black;
		
	}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111; 
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 4s ease;
}

#preloader.fade-out {
  opacity: 0;
  pointer-events: none;
}

.loader-text
{
	font-size: 2rem;
	font-weight: 200;
	color: rgba(201,201,201,1.00);
}

#cursor-circle {
    position: absolute;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    background: #000000;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0) 50%, rgba(12, 182, 165, 0.13) 70%, rgba(117, 13, 191, 0.74) 92%, rgba(255, 255, 255, 0.65) 98%);
    transform: translate(-50%, -50%); 
    z-index: 1;
    overflow: hidden;
	box-shadow: 0 0 300px #854394;
	opacity: 0.8;
	transition: top 0.15s ease, left 0.15s ease; 
    pointer-events: none; 
}


.logobackground{
	position: fixed;
	right: 0;
	bottom: -22vh;
	width: 100vw;
	height: 120px;
background: #000000;
background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(117, 13, 191, 1) 27%, rgba(12, 182, 165, 1) 100%);
box-shadow: 0 0 120px #0CB6A5;
}

	
.red-hat-text-font {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.luxurious-script-regular {
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  font-style: normal;
}

	
	.title{
		position: fixed;
		padding: 10px;
		font-size: 4.5rem;
		font-weight: 300;
		color:white;
		top: 0;
		right: 0;
		margin: 50px;
	    animation: slideInRight 2s ease-out forwards;
		
	}
	
	.description{
		position: fixed;
		padding: 10px;
		font-size: 0.9rem;
		font-weight: 300;
		color:white;
		top: 10vh;
		right: 5vw;
		margin: 50px;
		text-align: center;
		animation: slideInLeft ease 2s;
		
	}
	.background{
		display: flex;
		background-color: black;
		width: 100vw;
		min-height: 100vh;
		background-image: url("me.jpg");
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: left;
		transition: transform 0.5s ease; 
		top: -10vh;
		position: absolute;
	
	}

	@media (max-width: 1650px) {
  .background {
    background-size: 50%; 
    background-position: center left;
  }
		
		.nav-border{
			left: 45vw !important;
			width: 50vw !important;
		}
}

	@media (max-width: 1050px) {
		.background {
    background-size: 70%; 
    background-position: center left;
  }
	     

		
		aside{
		opacity: 0;
		}
}
	
			@media (max-width: 800px) {
  .background {
    background-size: 80%; 
    background-position: center left;
  }
				
		.logo2{
		width: 25vw !important;
		height: 25vh !important;
				}
}
@media (max-width: 600px) {
		.logo2{
		width: 20vw !important;
		height: 20vh !important;
		margin-right: 25vw !important;
				}
}

@media (max-width: 500px) {
	.logo2{
		top: 62vh !important;
		width: 40vw !important;
		height: 30vh !important;
		left: 40vw !important;
		
	}
	
	.logo3{
		left: 65vw!important;
		top: 35vh !important;
		opacity: 1 !important;
	
	}
	
	.background{
		margin-top: 15vh;
	}
	.button{
		left: 30px;
	}
	
	.logo-container{
		
		margin-top: -13vh;
	}

	.logo-text{
		font-size: 1rem !important;
	}
	
	.nav-border{
	    padding: 1px !important;
		position: fixed !important;
		top: -49vh !important;
		left: 20vw !important;
		width: 100% !important;

	}
	
	.title{
		font-size: 3rem !important;
		white-space: nowrap;
	}
	#cursor-circle{
		display: none;
	}
}
@media (max-width: 1250px) {
	h1{
		font-size: 20rem;
	}
	 
	.title{
		font-size:3.5rem;
	}
	
	.nav-border{

		
		margin-top: 55vh !important;
	
	}
	
	.button{
		margin-top: 69vh !important;
		z-index: -1;
		
		
	}
	.logo2{
		display: block;
		max-width: 40vw !important;
		max-height: 40vh !important;
		margin-left: 5vw !important;
		z-index: 99999;
	}
}


	
	aside{
		
		height: 50vh;
		padding: 50px;
		position: fixed;
		top: 25vh;
		left: 38vw;
		width: 100vw;
		z-index: 1;
		/*border-top: solid 1px white;*/
        display: flex;
		flex-direction: column; /* EZZEL RENDEZED FÜGGŐLEGESEN */
		
	
	}
	
	li{
		color:white;
		list-style: none;
		margin: 5px;
		cursor: pointer;
		font-size: 1.2rem;
		
	
	}

li:hover{
	font-size: 1.6rem;
	transition: all 0.3s ease;
}
	ul{
		display:none;
		color:white; 
		
		
	}
	
	li:hover ul{
		display:flex;
		
		
	}
	
	li:hover ul li{
		display:none;
	}
	
li:hover .content {
  max-height: 60vh; 
  opacity: 1;
  background-color: rgba(0,0,0,1);
 
}

.content {
  width: 40vw;
  position:relative;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 1s ease;
  right: -10vw;
  border-bottom: solid 1px white;
  border-left: solid 1px white;

	

}
	
	.button{
		position: fixed;
		width: 100px;
		height: 50px;
		top: 15vh;
		border: dashed 1px #256759;
		color:white;
		text-align: center;
		align-content: center;
		cursor: grab;
		right: 45vw;
		animation: fall 2s ease-in forwards;
		z-index: 99999;
	
	}
	
	.button:hover {
        background: #333;
		border: solid 1px #D751FB;
}
	.content-text{
		text-align: center;
		font-size: 1rem;

	}
	
@keyframes fall {
  0% {
    top: -100px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    top: 15vh;
    opacity: 1;
  }
}
	.vonal{
		position: fixed;
		top: 31vh;
		margin: 20px;
		width: 0vw;
		height: 1px;
		background: #a10acf;
        background: linear-gradient(90deg, rgba(161, 10, 207, 1) 47%, rgba(0, 250, 133, 1) 100%);
		opacity: 0;
		z-index: 10000;
		
		transition: all 1s ease;
	}
	.vonal2{
		position: fixed;
		top: 35vh;
		margin: 20px;
		width: 0vw;
		height: 1px;
		background: #a10acf;
        background: linear-gradient(90deg, rgba(161, 10, 207, 1) 47%, rgba(0, 250, 133, 1) 100%);
		
		opacity: 0;
		z-index: 10000;
		color:white;
		transition: all 1s ease;
	}
	
	li:hover .vonal{
		opacity: 1;
		width: 8vw;
	
	}
	li:hover .vonal2{
		opacity: 1;
		width: 8vw;
	}
	.margin{
  display: inline-flex; /* szép igazítás miatt */
  align-items: center;
  gap: 15px; /* kép és szöveg közé is */
	}
	
	.works-container{
		position: relative;
		width: 60vw;
		height: 60vh;
		border: solid 1px white;
	}
	li:hover .grid-container{
		opacity:1;
		max-height: 600px;
	}
.grid-container {
  max-height: 0;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 80px;
  opacity: 0;
  transition: all 1s ease;
  background: #000000;
  background: linear-gradient(307deg, rgba(0, 0, 0, 1) 67%, rgba(97, 97, 97, 1) 91%, rgba(191, 191, 191, 1) 100%);
  z-index: 2;
  border-bottom: solid 1px white;
  border-left: solid 1px white;
  margin-top: 5vh;
 
 
}

.mini-site {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  
}
	

.mini-site:hover {
  transform: scale(1.03);
}

.mini-site img {
  width:100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: center;
	 
}


	
.grid-container2 {
  height: 0;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 50px;
  opacity:0;
  transition: all 1s ease;
  background: #000000;
  background: linear-gradient(307deg, rgba(0, 0, 0, 1) 67%, rgba(97, 97, 97, 1) 91%, rgba(191, 191, 191, 1) 100%);
  z-index: 2;
  border-bottom: solid 1px white;
  border-left: solid 1px white;
  pointer-events: none;
 
 
}
	
	.eqp{
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  aspect-ratio: 16 / 14;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  width: 17vw;

}
	


.eqp:hover {
  border: dashed 1px white;

}
.eqp:hover .grid-container2 {
  opacity: 1;
  pointer-events: all;
}

.eqp img {
  width:100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: center;
	 
}
		
		
	li:hover .grid-container2{
		opacity:1;
		height: 70vh;
		pointer-events: none;
		
	}

.eqpdescr{
	position: absolute;
	width: 15vw;
	max-height: 0;
	color:white;
	background-color: transparent;
	border-bottom: solid 1px white;
	border-left: solid 1px white;
	opacity: 0;
	font-size: 0.9rem;
	

}

	li:hover .eqpdescr{
		opacity: 1;
		max-height: 300px;
		justify-content: center;
		
	}

.custom-bullet::before {
  content: "•"; 
  color: white; 
  font-size: 1.2em; 
  margin-right: 0.5em; 
}

.custom-bullet {
	position: relative;
  display: flex;
  align-items: center;
	text-align: center;
	justify-content: center;
}

.logo-container {
  position: relative;
  top: 12vh;
  left: 4vw;
  z-index: 10;
  display: flex;
  align-items: center;
 
}

	.logo-text{
  position: fixed;
  font-size: 2rem;
  color: white;
  margin-top: 7vh;
  margin-left: -0.9vw;
	}

.logo2{
	top: 35vh;
	left: 60vw;
	position: fixed;
	width: 30vw;
	height: 50vh;
	background-image: url("glass.png");
	background-size: cover;
	background-position: center;
	transform: rotate(-76deg); 
	animation: lassu-forgas 120s linear infinite;
	z-index: 1;
	opacity: 0.7;
}

.logo3{
	position: absolute;
    top: -10vh;
    left: -6vw;
	width:15vw;
	height: 15vh;
	background-image: url("glass3.png");
	background-size: cover;
	background-position: center;
	transform: rotate(-25deg); 
	z-index: 1;
	opacity: 0.3;
}

@keyframes lassu-forgas {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

	@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes slideInRight {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
	}

.nav-border {
  position: fixed;
  top: 25vh;
  left: 33vw;
  width: 70vw;
  height: 2px;
  background-color: #111; /* háttércsík */
  overflow: hidden;
  z-index: 999999;
}

.nav-border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(17,17,17, 0) 0%,
    #256759 20%,
    #555 40%,
    #999 60%,
    #D751FB 80%,
    rgba(255,255,255, 0) 100%
  );
  animation: sweep 5s ease-in-out infinite;
  opacity: 1;
}

@keyframes sweep {
  0% {
    left: 100%;
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}